
PORT=3000

DB_NAME=job_registry
DB_USER=postgres
DB_PASSWORD=root
DB_HOST=localhost
DB_PORT=5432

ADMINISTRATOR_ADDRESS=http://localhost:8080
ADMINISTRATOR_CLIENT_ID=xxx
ADMINISTRATOR_CLIENT_SECRET=xxx

PROTECTOR_ADDRESS=http://localhost:9000
PROTECTOR_USERNAME=admin
PROTECTOR_PASSWORD=admin
